.hero-section {
  background-color: var(--color-background-primary);
  padding-block: 5rem;
}

.container {
  display: flex;
  margin-inline: auto;
  max-width: 1440px;
  position: relative;
  justify-content: center;
  overflow: hidden;
}

.video-wrapper {
  height: 600px;
  min-height: 80vh;
}

.video {
  height: 100%;
  object-fit: none;
  object-position: center center;
}

.contents-wrapper {
  color: var(--color-primary);
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.name {
  text-align: center;
  font-size: var(--text-xl);
  letter-spacing: 0.3125rem;
  line-height: 1.75rem;
  font-weight: 600;
}

.title {
  margin-top: auto;
  margin-bottom: auto;

  &__text {
    text-align: center;
    font-weight: 700;
    font-size: var(--text-7xl);
    letter-spacing: -0.016rem;
    line-height: 1;

    &--secondary-color {
      color: var(--color-secondary);
    }
  }
}
