.about-me-section {
  margin-inline: auto;
  max-width: 1440px;
  height: 100%;
  background-color: var(--color-background-secondary);
  padding: 5rem;
}

.contents-wrapper {
  margin-inline: auto;
  max-width: 1440px;
  color: var(--color-primary);
}

.title {
  font-size: var(--text-2xl);
  line-height: 2rem;
  letter-spacing: 0.3125rem;
  margin-bottom: 1rem;
}

.content {
  position: relative;
  font-size: var(--text-6xl);
  line-height: 1;
}

.letter {
  opacity: 0.2;
  font-weight: 700;
  letter-spacing: -0.1rem;
}

.font-color-red {
  color: var(--color-secondary);
}
