.navbar-section {
  padding: 2.5rem;
  position: sticky;
  top: 0;
  z-index: 9999;
}

.container {
  margin-inline: auto;
  max-width: 1480px;
  display: flex;
  justify-content: space-between;
}

.items-wrapper {
  font-size: var(--text-xl);
  line-height: 1.75rem;
  color: var(--color-primary);
}
